<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launch"
        android:label="Student Scheduler"
        android:roundIcon="@mipmap/ic_launch_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studentscheduler"
        tools:targetApi="31">
        <activity
            android:name=".UI.CourseDetails"
            android:exported="false"
            android:label="Course Details"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AddCourse"
            android:exported="false"
            android:label="Add New Course"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AssessmentList"
            android:exported="false"
            android:label="Assessments"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.CourseList"
            android:exported="false"
            android:label="Courses"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.Schedule"
            android:exported="false"
            android:label="Schedule"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AddTerm"
            android:exported="false"
            android:label="Add New Term"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.ModifyTerm"
            android:exported="false"
            android:label="Modify Term"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.TermDetails"
            android:exported="false"
            android:label="Term Details"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.TermList"
            android:exported="false"
            android:label="Terms"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>